<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css">

    <title>Servicios LeadBoost</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>

<body class="music">
    <header class="header__horizontal">
        <nav class="music__header__nav">
            <ul class="music__header__nav__ul">
                <li><a href="/">| INICIO</a></li>
                <li><a href="/about">| ACERCA DE</a></li>
                <li><a href="/services">| SERVICIOS</a></li>
            </ul>
        </nav>
        <nav class="music__header__nav-redes">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-spotify"></i></a>
            <a href=""><i class="fab fa-apple"></i></a>
            <a href=""><i class="fab fa-amazon"></i></a>
            <a href=""><i class="fab fa-instagram-square"></i></a>
        </nav>
    </header>
    <main class="music__main">
        <h1>servicios //</h1>

        <section class="music__main_section">
            <article id="album">
                <h4 class="text-center">En LeadBoost, nos especializamos en maximizar el potencial de tu negocio inmobiliario, <br>
                    proporcionando soluciones estratégicas que atraen a los clientes adecuados en el <br> momento preciso.
                    Nuestra oferta se centra en tres pilares clave: captación, <br> segmentación y cualificación de leads.
                </h4>                
            </article>
        </section>
          <section class="row justify-content-center mb-2">
            <div class="col-3">
              <img class="img-fluid img-hover" src="/img/2.png" alt="">
            </div>
            <div class="col-3">
              <img class="img-fluid img-hover" src="/img/1.png" alt="">
            </div>
            <div class="col-3">
              <img class="img-fluid img-hover" src="/img/3.png" alt="">
            </div>
          </section>
    </main>
</body>

</html>